<h1>New box</h1>

<form id="new-box" name="box">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="checked"> checked:</label>
    <input type="text" name="checked" id="checked" value="<%= checked %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Box" />
  </div>

</form>

<a href="#/index">Back</a>