<h1>Edit plan</h1>

<form id="edit-plan" name="plan">
  <div class="field">
    <label for="history"> history:</label>
    <input type="text" name="history" id="history" value="<%= history %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Plan" />
  </div>

</form>

<a href="#/index">Back</a>
