<a href="#/3/edit" class="btn btn-default pull-right">Edit</a>

<h1>Plan</h1>


<div class="row">
  <div class="col-sm-8">
    <h3>Problem list</h3>
    <div id="problems-table"></div>
  </div>  
  <div class="col-sm-4">
    <h3>To do list</h3>
    <div id="boxes-table"></div>
  </div>  
</div>

<a href="#/index">Back</a>