<p id="notice"><%= notice %></p>

<div id="plans"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Workspace.Routers.PlansRouter({plans: <%= @plans.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

